<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.title}}</title>
</head>

<body>
    <h1>Registrarse</h1>
    <form method="POST" action="{{url_for('signup')}}">
        <input class="name" type="text" placeholder="Insgrese su nombre" name="nombre" required>
        <input class="lastname" type="text" placeholder="Insgrese su apellido" name="apellidos" required>
        <input class="DNI" type="text" placeholder="Insgrese su dni" name="dni" required>
        <input class="mail" type="text" placeholder="Insgrese su email" name="email" required>
        <input class="pswrd" type="text" placeholder="Insgrese su contraseña" name="password" required>
        <label for="actividad">Actividad:</label>
        <select class="activity" name="actividad" id="actividad" required>
            <option value="" disabled selected>Seleccione su actividad</option>
            <option value="Visitante">Visitante</option>
            <option value="Jugador">Jugador</option>
        </select>
        <label for="escuela">Escuela:</label>
        <select class="school" name="escuela" id="escuela" required>
            <option value="" disabled selected>Seleccione su escuela</option>
            <option value="ITR">ITR</option>
            <option value="Luti">Luti</option>
            <option value="Ipet 76">Ipet 76</option>
        </select>
        <input type="submit" placeholder="">
    </form>
</body>

</html>