<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.title}}</title>
</head>

<body>
    <h1>Registrarse</h1>
    <form method="POST" action="{{url_for('signup')}}">
        <p>DNI</p>
        <input class="DNI" type="text">
        <P>Nombre</P>
        <input class="name" type="text">
        <p>Apellidos</p>
        <input class="lastname" type="text">
        <p>Actividad (Jugador o Visitante)</p>
        <input class="activity" type="text">
        <p>Escuela</p>
        <input class="school" type="text">
        <p>Enviar</p>
        <input type="submit">
    </form>
</body>

</html>